<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}" type="text/css" />
<script src="/public/jquery-1.11.3/jquery.js"></script>
<script src="/mian.js"></script>
<head>
    <meta charset="UTF-8">
    <title>虎！聊天室</title>
    <link rel="Shortcut Icon" href="/image/log.png" />
</head>
<body>
    <div  class="main">
        <input type="hidden" th:value="${ipAddr}" id="ipAddr" />
        <div class="header">
            <ul>
                <li>
                    <span class="allPeople" title="当前在线人数"><span class="text">10</span></span>
                </li>
                <li>
                    <span class="people" title="当前用户"><span class="text" th:text="${ipAddr}"></span></span>
                </li>
            </ul>
            <img src="/image/log.png" />
        </div>
        <div class="body">

        </div>
        <div class="foot">
            <input th:type="text" class="message">
            <input type="file" class="file" name="file" style="display: none">
            <span class="upload cur"></span>
            <input th:type="button" class="send" th:value="发送">
        </div>
    </div>
</body>
</html>
<script>

</script>